# .travis.yml of straw-android-plugin

language: java

jdk:
- oraclejdk7
- oraclejdk6

env:
- TERM=dumb

after_success:
- gradle cobertura
- cat build/reports/cobertura/coverage.xml
- gradle --info coveralls
